<nav
  class="navbar navbar-expand-lg navbar-light"
  style="background-color: #13c7ae;"
>
  <a class="navbar-brand" [routerLink]="['']">Bookmark</a>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['']">INÍCIO</a>
      </li>
    </ul>
  </div>
  <form class="form-inline my-2 my-lg-0">
    <input
      class="form-control mr-sm-2"
      type="search"
      placeholder="Pesquisar"
      aria-label="Pesquisar"
    />
    <form class="form-inline my-2 my-lg-0"></form>
  </form>
</nav>
