<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
rel="stylesheet">
<header class="justify-content-center align-items-center align-middle">
  <div class="row flex-nowrap justify-content-center align-items-center">
    <div class="col-md-8" style="margin-top: 28px">
        <img class="brand-img" style="width: 210px; margin-right: 10px; margin-bottom: 7px;" src="../../assets/logo/stoppages/03-bookmark-logo-name-white.png"/>
      <form class="form-inline">
          <input
            class="form-control mr-sm-2"
            type="search"
            placeholder="Pesquisar"
            aria-label="Pesquisar"
          />
          <a><i style="font-size: 18px" class="material-icons">search</i></a>
        </form>
    </div>
  </div>
</header>