<div class="content">
  <ul>
    <li class="shadow">
      <img class="zoom" src="https://images.livrariasaraiva.com.br/imagemnet/imagem.aspx/?pro_id=10293250&qld=90&l=430&a=-1" alt="As Crônicas de Narnia (Volume Único) - C. S. Lewis">
    </li>
    <li>
      <img class="zoom" src="https://http2.mlstatic.com/livro-a-queda-de-gondolin-j-r-r-tolkien-capa-dura-D_NQ_NP_931552-MLB28154733145_092018-F.jpg" alt="Livro A Queda De Gondolin - J. R. R. Tolkien ">
    </li>
    <li>
      <img class="zoom" src="https://images.foyles.co.uk/large/books/img/9/7/2/9789722325332.jpg" alt="Harry Potter e a Pedra Filosofal - J. K. Rowling">
    </li>    
    <li>
      <img class="zoom" src="https://images-na.ssl-images-amazon.com/images/I/51WR6fehD%2BL.jpg" alt="Herry Potter e o Enigma do Príncipe - J. K. Rowling">
    </li>
  </ul>   
</div>