<div *ngIf="listaVazia()" class="container">
  <p>Não existem livros cadastrados.</p>
</div>

<div>
  <button [routerLink]="['novo-livro']">Adicionar livro</button>
</div>

<ul class="exibicaoLivros">
  <li *ngFor="let livro of livros">
    <div class="imagem-cartao">   
      <a href="">
        <img class=imagem [src]="livro.imagem" style="box-shadow: 0px 0px 7px 3px grey;">
      </a>
      <h2 class="id">{{ livro.id }}</h2>
      <h3 class="titulo">{{ livro.nome }}</h3>
      <h5 class="autor">{{ livro.autor }}</h5>
      </br>
      <!-- <h3 class="detalhes">{{ livro.detalhes }}</h3> -->
      <div>
        <button (click)="onEdit(livro.id)">Editar</button>
        <button (click)="onRemove(livro.id)">Remover</button>
      </div>
    </div>
  </li>
</ul>

<router-outlet></router-outlet>
