<div class="timeline-publica">
  <div class="cards" style="width: 18rem;">
    <h4>Linha do tempo</h4>
    <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
      <div class="card-body">
        <p class="card-text">Mirian postou um novo livro.</p>
      </div>
    </div>
    <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
      <div class="card-body">
        <p class="card-text">Alex favoritou um novo livro.</p>
      </div>
    </div>
    <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
      <div class="card-body">
        <p class="card-text">Yann está seguindo um novo amigo.</p>
      </div>
    </div>
    <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
      <div class="card-body">
        <p class="card-text">Marinalda curtiu uma nova atividade.</p>
      </div>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
