.navbar {
  width: 100%;
  background-color: rgb(184, 178, 178);
}

.collapse {
  margin-left: 45px;
  position: relative;
}

li {
  margin-left: 40px;
  list-style-type: none;
  text-align: center;
}

li:hover{
  color: rgb(30, 131, 131);
  text-decoration: underline;
}

nav {
  color: gray;
}

.navbar-nav {
  margin-left: -100px;
}

.btn-outline-primary {
  background: transparent;
  border: none;
  border-radius: 30px;
  padding: 5px;
}

button:hover{
  background-color: rgb(30, 131, 131);
  text-decoration: underline;
}

.dropdown img {
  border-radius: 25px;
}

#sair{
  background-color: rgb(131, 25, 25);
}
