<nav class="navbar navbar-expand-lg navbar-light justify-content-center align-items-center">
  <div class="col-md-8 collapse navbar-collapse justify-content-between" id="navbarText">
    <ul class="navbar-nav">
      <li *ngIf='!logado()' class="nav-item">
        <a class="nav-link" [routerLink]="['']">PAGINA INICIAL</a>
      </li>
      <li *ngIf='logado()' class="nav-item">
        <a class="nav-link" [routerLink]="['dashboard']">PAGINA INICIAL</a>
      </li>
      <li *ngIf='!logado()' class="nav-item">
        <a class="nav-link" href="#">SOBRE NÓS</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="mailto:bookmarkufpb@gmail.com">CONTATO</a>
      </li>
      <li *ngIf='logado()' class="nav-item">
        <a class="nav-link" [routerLink]="['/livros']">LIVROS PÚBLICOS</a>
      </li>
    </ul>
    <div *ngIf='logado()' class="row">
      <div class="col">
        <div ngbDropdown class="d-inline-block">
          <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>
            <img width="50" height="50"
          src="https://pbs.twimg.com/profile_images/1035645896640405504/Mb5KTYhM_400x400.jpg"
          alt="share">
          </button>
          <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
            <button ngbDropdownItem [routerLink]="['/editar-perfil']">Editar perfil</button>
            <button ngbDropdownItem [routerLink]="['/minha-biblioteca']">Minha biblioteca</button>
            <button ngbDropdownItem>Seguindo / Seguidores</button>
            <button ngbDropdownItem [routerLink]="['/novo']">Adicionar livro</button>
            <button ngbDropdownItem (click)='logout()' id='sair' [routerLink]="['']">Sair</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>
