<nav class="navbar navbar-expand-lg navbar-light justify-content-center align-items-center">
  <div class="col-md-8 collapse navbar-collapse justify-content-between" id="navbarText">
    <ul class="navbar-nav">
      <li *ngIf='!logado()' class="nav-item">
        <a class="nav-link" [routerLink]="['']">PAGINA INICIAL</a>
      </li>
      <li *ngIf='logado()' class="nav-item">
        <a class="nav-link" [routerLink]="['dashboard']">PAGINA INICIAL</a>
      </li>
      <li *ngIf='!logado()' class="nav-item">
        <a class="nav-link" href="#">SOBRE NÓS</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="mailto:bookmarkufpb@gmail.com">CONTATO</a>
      </li>
      <li *ngIf='logado()' class="nav-item">
        <a class="nav-link" [routerLink]="['dashboard/livros']">LIVROS PÚBLICOS</a>
      </li>
    </ul>
    <a *ngIf='logado()' class="nav-item">
      <app-upload-file></app-upload-file>
    </a>
    <a *ngIf='logado()' class="nav-item" [routerLink]="['/pg-leitura']">
      <input style="display: none" >
      <button style="background: transparent; border: 2px solid gray; color: gray; border-radius: 8px;" (click)="openBrowser()">
          PÁGINA DE LEITURA
      </button>
    </a>
  </div>
</nav>
