*{
  font-family: 'Lucida Grande', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.navbar{
  width: 100%;
}

li{
  margin-right: 40px;
}

nav{
  color: gray;
}

