<!-- <form action="">
    <h3>Preencha os dados e adicione o livro</h3>
  
    <div class="">
      <label for="nome-livro">Nome do livro:</label>
      <input type="text" name="nome-livro" id="nome-livro" #novoNomeLivro>
    </div>
  
    <div>
      <label for="autor-livro">Nome do autor:</label>
      <input type="text" name="autor-livro" id="autor-livro" #novoAutorLivro>
    </div>

    <div>
      <label for="categorias2">Categoria</label>
      <select name="categorias2">
        <option value="Selecione uma categoria" selected></option>
        <option value="Ficcão Científica" #novaCategoria>Ficção Científica</option>
        <option value="Literatua Nacional" #novaCategoria>Literatua Nacional</option>
        <option value="Românce" #novaCategoria>Românce</option>
        <option value="Fantasia" #novaCategoria>Fantasia</option>
        <option value="Quadrinhos" #novaCategoria>Quadrinhos</option>
        <option value="Religião e Espiritualidade" #novaCategoria>Religião e Espiritualidade</option>
      </select>
    </div>
  
    <div>
      <label for="descricaoLivro">Descrição:</label>
      <textarea name="descricaoLivro" id="descricaoLivro" 
      rows="5" cols="40" maxlength="30" #novaDescricao></textarea>
    </div>
  
    <div>
      <label for="imagemLivro">Cole aqui uma URL válida com a imagem da capa do livro</label>
      <input type="text" name="imagemLivro" id="imagemLivro" #novaImagemLivro>
    </div>
  
    <div>
      <label for="paginas">Quantidade de páginas</label>
      <input type="number" name="paginas" id="paginas" #novaQuantPaginas> 
    </div>
  
    <div>
    <button (click)="setLivro(#novoNomeLivro.value, 
    #novoAutorLivro.value, #novaCategoria.value, #novaDescricao.value, 
    #novaImagemLivro.value, #novaQuantPaginas.value)">Enviar livro
    </button>
    </div>
  
    '#' é usado para criar uma variável local!
  </form> -->
  
  <!-- <label for="categorias">Selecione uma categoria</label>
    <div name="categorias" id=categorias>
      <label for="categ-ficcao-cientifica">Ficção Científica</label>
      <input type="checkbox" name="categ-ficcao-cientifica" #novaCategoria></br>
  
      <label for="categ-literatura">Literatura Nacional</label>
      <input type="checkbox" name="categ-literatura" #novaCategoria></br>
  
      <label for="categ-romance">Românce</label>
      <input type="checkbox" name="categ-romance" #novaCategoria></br>
  
      <label for="categ-fantasia">Fantasia</label>
      <input type="checkbox" name="categ-fantasia" #novaCategoria></br>
  
      <label for="categ-quadrinhos">Quadrinhos</label>
      <input type="checkbox" name="categ-quadrinhos" #novaCategoria></br>
  
      <label for="categ-espiritualidade">Religião e espiritualidade</label>
      <input type="checkbox" name="categ-espiritualidade" #novaCategoria></br>
    </div> -->