<form #f="ngForm" (ngSubmit)="onSubmit(f.value)">
  <h3>Preencha os dados e adicione o livro</h3>

  <div>
    <label for="nome-livro">Nome do livro:</label>
    <input type="text" name="name" id="nome_livro" #nomeLivro>
  </div>

  <div>
    <label for="autor-livro">Nome do autor:</label>
    <input type="text" name="autor" id="autor_livro" #autorLivro>
  </div>

  <div>
    <label for="imagemLivro">Cole aqui uma URL para a capa:</label>
    <input type="text" name="imagemLivro" id="imagemLivro" #imagemLivro>
  </div>

  <div>
    <button type="submit" id="criar_livro_botão">Criar livro</button>
  </div>

  <a [routerLink]="['/livros']">Voltar</a>
