<!-- <form #f="ngForm" (ngSubmit)="onSubmit(f.value)"> -->
<form>
  <h3>Preencha os dados e adicione o livro</h3>

  <div>
    <label for="nome">Nome do livro:</label><br>
    <input type="text" name="nome" id="nome" #nomeLivro>
  </div>

  <div>
    <label for="autor">Nome do autor:</label><br>
    <input type="text" name="autor" id="autor" #autorLivro>
  </div>

  <div>
    <label for="imagem">Cole aqui uma URL para a capa:</label><br>
    <input type="text" name="imagem" id="imagem" #imagemLivro>
  </div>

  <div>
    <button class="novo-livro" (click)="novoLivro(nomeLivro.value, autorLivro.value, imagemLivro.value)" type="submit"
      id="criar_livro_botão">Criar livro</button>
  </div>

  <a [routerLink]="['/dashboard']">Voltar</a>
</form>
<router-outlet></router-outlet>
