<main class="dash">
  <div class="perfil">
    <h3>Bem vindo, Jorge.</h3>
    <img src="https://pbs.twimg.com/profile_images/1035645896640405504/Mb5KTYhM_400x400.jpg">
    <ul class="list-group">
      <a class="list-group-item" [routerLink]="[]">Editar perfil</a>
      <a class="list-group-item" [routerLink]="[]">Minha biblioteca</a>
      <a class="list-group-item" [routerLink]="[]">Seguindo/Seguidores</a>
      <a class="list-group-item" [routerLink]="['livros/novo']">Adicionar livro</a>
      <!---<a *ngIf="authService.getUser()" class="list-group-item" [routerLink]="['']" id="sair">Sair</a>-->
      <button class="list-group-item" (click)='logout()' id="sair">Sair</button>
    </ul>
  </div>
  <div class="timeline-publica">
    <div class="cards" style="width: 18rem;">
      <h4>Linha do tempo</h4>
      <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
        <div class="card-body">
          <p class="card-text">Mirian postou um novo livro.</p>
        </div>
      </div>
      <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
        <div class="card-body">
          <p class="card-text">Alex favoritou um novo livro.</p>
        </div>
      </div>
      <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
        <div class="card-body">
          <p class="card-text">Yann está seguindo um novo amigo.</p>
        </div>
      </div>
      <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
        <div class="card-body">
          <p class="card-text">Marinalda curtiu uma nova atividade.</p>
        </div>
      </div>
    </div>
  </div>
</main>
<article class="minha-biblioteca">
  <h3>Minha biblioteca</h3>
  <app-lista-de-livros></app-lista-de-livros>
  <nav aria-label="Navegação de página">
    <ul class="pagination">
      <li class="page-item"><a class="page-link" href="#">Anterior</a></li>
      <li class="page-item"><a class="page-link" href="#">1</a></li>
      <li class="page-item"><a class="page-link" href="#">2</a></li>
      <li class="page-item"><a class="page-link" href="#">3</a></li>
      <li class="page-item"><a class="page-link" href="#">Próximo</a></li>
    </ul>
  </nav>
</article>
<router-outlet></router-outlet>
