<main class="principal">
  <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
    <div class="card-body">
      <h1 class="card-title">Gerencie suas leituras pessoais com segurança.</h1>
    </div>
  </div>
  <div class="login">
          <h2>Login</h2>
          <div class="row">
            <div class="input-field col s6">
            <label class="active" for="usuario">Usuário</label><br>
            <input [(ngModel)]="usuario.nome" id ="usuario" type="text" class="validate">
            </div>
          </div>
          <div class="row">
              <div class="input-field col s6">
              <label class="active" for="senha">Senha</label><br>
              <input [(ngModel)]="usuario.senha" id ="senha" type="password" class="validate">
              </div>
            </div>
          <button type="submit" class="btn btn-primary" (click)="fazerLogin()">Login</button>
          <p><br>Ainda não é cadastrado?</p>
          <button type="button" class="btn btn-info">Cadastrar-se</button>
  </div>
  <app-livro></app-livro>
  <app-exibe-livros></app-exibe-livros>
</main>
<router-outlet></router-outlet>
